html,body {
    width: 100%;
}
pre {
    width: 100%;
    height: 100%;
}
.easyui-window {
    width: 100%;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.full-layout {
    /* width: 100%; */
    /* 宽度可以通过设置 fit:true适应父级宽度，也可以将css设置% */
    /* 高度必须设置，%不显示 */
    height: 900px;
}
#tt {
    position: relative;
}
.content-mark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 39, 40, 0.8);
    padding: 50px;
}
.content-mark {

}
.menu-tabs {
    width: 100%;
    height: 100%;
}
.footer {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
}